

body 
{
	text-align: center;
	margin: 20px;		/* shift whole page down by 25 pixels */
	background-color: #F2BD10;
}


#mainForm 
{
	position: relative;
	border: 1px;
	border-style: solid;
	margin: 0 auto;
	text-align: left;
	width: 70%;
	background-color: #ffffff;
}

ul.mainForm
{
	list-style-type: none;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size:15px;	
}

li.mainForm
{
	padding-bottom: 10px;
}


#mainFormError
{
	position: relative;
	border: 1px;
	border-style: solid;
	margin: 0 auto;
	text-align: left;
	width: 70%;
}



input.mainFormError
{
	background-color: #FADADD;
}


textarea.mainFormError
{
	background-color: #FADADD;
}


select.mainFormError
{
	background-color: #FADADD;
}


#formHeader
{
	position: relative;
	width: 100%;
	background-color: #EE6911;
	margin:0 0 0 0;
	padding-bottom: 10px;
}

p.formHeader
{
	text-align: right;
	margin:0 0 0 0;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-weight:normal;
	color: #ffffff;
	font-size:25px;
	position:relative;
	left:-5px;
	top:4px;
	letter-spacing: 2px;
}



#formInfo
{
	position: relative;
	width: 100%;
	background-color: #ffffff;
	margin:0 0 0 0;
}

h2.formInfo
{
	text-align: left;
	margin:0 0 0 0;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-weight:normal;
	font-size:20px;
	position:relative;
	left:20px;
	top:0px;
	letter-spacing: 1px;
	line-height:150%;
	color: #ffffff;
}


p.formInfo
{
	text-align: left;
	margin:0 0 0 0;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-weight:normal;
	color: #000000;
	font-size:12px;
	position:relative;
	left:20px;
	top:0px;
	color: #ffffff;
}

#formFields
{
	position: relative;
	width: 100%;
	background-color: #ffffff;
	margin:0 0 0 0;

}

label.formFieldQuestion
{
	line-height:125%;
	padding:0 4px 1px 0;
	border:none;	
	display:block;
	font-size:95%;
	font-weight:bold;
}

label.formFieldOption
{
	font-size:90%;
	display:block;
	line-height:1.0em;
	margin:-19px 0 0 25px;
	padding:4px 0 5px 0;
	width:90%;
}



input.formFieldStyle
{
	display:block;
	line-height:1.4em;
	margin:8px 0 0 3px;
	width:13px;
	height:13px;
}


/* tooltip */
a.info {
	font-family: Tahoma, Arial, Sans-Serif;
	text-decoration:none; 
	position: relative;
}

a.info span {
	position: relative;
	display:none;
}

a.info:hover {
	position: relative;
	cursor:default;
}

a.info:hover .infobox {
	font-weight: normal; 
	display:block; 
	position:absolute; 
	top:20px;;
	left:25px;
	width:205px; 
	height:70px; 
	border: 1px solid #ccc; 
	background:#f4f4f4 url(question.gif) no-repeat bottom right; 
	color:#000; 
	text-align:left; 
	font-size:0.7em; 
	padding-left:10px; 
	padding-top:10px;
}

/* pop-up calendar */
button.calendarStyle
{
	background-color: transparent;
	border: 0;
	height:22px;
	width:22px;
	background-image:url(imgs/calendar.png);
	cursor: pointer;
	cursor: hand;
}


p.footer
{
	text-align: right;
	margin:0 0 0 0;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-weight:normal;
	color: #ffffff;
	font-size:9px;
	position:relative;
	top:4px;
	left:-140px;
	letter-spacing: 2px;
}

a.footer
{
	text-align: right;
	margin:0 0 0 0;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-weight:normal;
	color: #ffffff;
	font-size:9px;
	position:relative;
	top:4px;
	letter-spacing: 2px;
}
